$font-Open-Sans: 'Open Sans Condensed', sans-serif;
$font-Slabo: 'Slabo 27px', serif;
$color-green: rgb(92, 164, 92);

.library-header {
  font-family: $font-Slabo;
  font-size: 44px;
}

.library-main {
  padding: 15px;

  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

.error {
  color: rgb(226, 61, 61);
  font-size: 24px;
  font-family: $font-Slabo;
}

.sort-panel {
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  font-family: $font-Slabo;
  border: 1px solid white;
}

.sort-panel legend {
  color: rgb(113, 105, 105);
  font-size: 22px;
}

.sort-by-author {
  width: 75px;
  margin-left: 40px;
  background-color: rgb(196, 115, 193);
  border: none;
  font-size: 20px;
  color: white;
  font-family: $font-Slabo;
}

.sort-by-title {
  @extend .sort-by-author;
  background-color: $color-green;
}

.sort-by-year {
  @extend .sort-by-author;
  background-color: rgb(201, 201, 67);
}

.sort-panel .selected {
  border: 3px solid pink;
}

.filter-panel {
  @extend .sort-panel;
  width: 80%;
  margin-left: 155px;
  border: 1px solid rgb(222, 221, 221)
}
.filter-panel label {
  margin-left: 50px;
  margin-right: 10px;
  font-size: 22px;
}
.filter-by-author {
  width: 200px;
  height: 25px;
  margin-right: 10px;
  background-color: azure;
  font-family: $font-Slabo;
  font-size:18px;
}

.filter-by-title {
  @extend .filter-by-author;
}

.filter-by-publisher {
  @extend .filter-by-author;
}

.reset-filter {
  width: 55px;
  border: none;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

.book-list {
  margin-left: 10%;
}
.book-view {
  height: 430px;
  float: left;
  width: 30%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 5px;
}

.clearfix {
  clear: left;
  overflow: auto;
}

.book-list-item {
  list-style-type: none;
  cursor: pointer;
  margin-left: 10%;

  font-family: $font-Slabo;
  font-size: 16px;

  .title {
    font-size: 18px;
  }
}

.icon {
  list-style-type: none;
  display: inline;
}

.delete {
  background-color: rgb(234, 122, 122);
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.edit {
 @extend .delete;
 background-color: rgb(220, 220, 122);
}

.save {
  @extend .delete;
  background-color: $color-green;
  color: white;
}

.cancel {
  @extend .save;
  background-color:rgb(92, 92, 200);
}

.editing {
  width: 300px;
  height: 25px;
  font-size: 22px;
  display: block;
}

.add-book-view-container {
  input {
    border: 3px solid rgb(228, 216, 216);
    width: 250px;
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
  }
}

.book-view .input {
  margin: 8px;
  margin-left: 0px;
  padding: 5px;
}

.book-view .cover img {
  width: 200px;
  height: 275px;
}

.show-add-book-form {
  background-color: #333;
  border: none;
  width: 100px;
  color: white;
  font-size: 18px;
}

.add-form-btn {
  @extend .show-add-book-form;
  background-color: $color-green;
}

.cancel-form-btn {
  @extend .show-add-book-form;
  background-color: rgb(92, 92, 200);
  width: 125px;
}
