<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index!</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/main.css"/>
</head>
<body>
  <div id="library">
    <h1 class="library-header">Pamela's Library</h1>
    <main class="library-main">
      <button class="show-add-book-form">Add Book</button>
      <div class="error no-show"></div>
      <div class="add-book-view-container"></div>
      <div class="book-list"></div>
      <div class="clearfix"></div>
    </main>
  </div>

  <!-- templates -->
  <script type="text/template" id="book-template">
      <ul>
        <input type="text" class="no-show input edit-cover" placeholder="Cover Url" value="<%- cover %>"/>
        <li class="book-list-item cover"><img src="<%- cover %>" alt="book cover"/></li>

        <input type="text" class="no-show input edit-title" placeholder="Title" value="<%- title %>"/>
        <li class="book-list-item"><%- title %></li>

        <input type="text" class="no-show input edit-author" placeholder="Author" value="<%- author %>"/>
        <li class="book-list-item author"><%- author %></li>

        <input type="text" class="no-show input edit-publisher" placeholder="Publisher" value="<%- publisher%>"/>
        <li class="book-list-item publisher"><%- publisher %></li>

        <input type="text" class="no-show input edit-year" placeholder="Year" value="<%- year %>"/>
        <li class="book-list-item year"><%- year %></li>

        <input type="text" class="no-show input edit-ibsn" placeholder="IBSN" value="<%- ibsn %>"/>
        <li class="book-list-item ibsn"><%- ibsn %></li>
        <li class=" book-list-item icon"><button class="delete"><i class="fa fa-times x"></i></button></li>
        <li class="icon"><button class="edit"><i class="fa fa-pencil edit"></i></button></li>
        <li class="icon"><button class="save no-show">save</button></li>
        <li class="icon"><button class="cancel no-show">cancel</button></li>
      </ul>
  </script>
  <script type="text/template" id="add-book-form">
      <form class="add-book">
        <input type="text" name="title" class="title" placeholder="Title"/>
        <input type="text" name="author" class="author" placeholder="Author"/>
        <input type="text" name="publisher" class="publisher" placeholder="Publisher"/>
        <input type="text" name="year" class="year" placeholder="Year"/>
        <input type="text" name="ibsn" class="ibsn" placeholder="IBSN"/>
        <input type="text" name="cover" class="cover" placeholder="Book Cover Image"/>
        <button type="submit" class="add-form-btn">Add Book</button>
        <button type="submit" class="cancel-form-btn">Cancel Book</button>
      </form>
  </script>

  <script src="/public/bundle-index.js"></script>
</body>
</html>
